.button-container {
    font-size: 16px;

    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    cursor: pointer;

    color: var(--telegram-button-text-color);
}

.button-primary {
    background-color: var(--tg-theme-button-primary-bg-color);
}

.button-plain {
    background-color: var(--tg-theme-button-plain-bg-color);
}

.button-secondary {
    background-color: var(--tg-theme-button-secondary-bg-color);
}

.disabled {
    opacity: 0.7;
    cursor: unset
}

.block {
    width: 100%;
}