.image-container {
    width: 100%;
    height: 292px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container {
    padding: 0 var(--telegram-horizontal-paddings);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-container {
    padding: var(--telegram-horizontal-paddings);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    padding-top: var(--telegram-horizontal-paddings);
    padding-bottom: 12px;
    padding-left: 4px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    text-align: left;

    &-name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: var(--telegram-text-color);
    }

    &-address {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        color: var(--telegram-hint-color);
    }
}

.section {
    &-heading {
        padding: 16px var(--telegram-horizontal-paddings) 8px;
        text-align: left;
        color: var(--telegram-hint-color);
    }
}

.section-list {
    display: flex;
    flex-direction: column;
    padding: 0 var(--telegram-horizontal-paddings);
    background-color: var(--telegram-secondary-bg-color);
    border-radius: 12px;
}

.section-item {

    &:nth-child(1) {
        border-top: none;
    }
    border-top: 1px solid var(--telegram-hint-color);
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;

    text-align: left;

    &--title {
        color: var(--telegram-hint-color);
        font-size: 15px;
        line-height: 20px;
    }

    &--content {
        color: var(--telegram-text-color);
        font-size: 17px;
        line-height: 22px;
    }

    .closed {
        color: #FF3B30;
    }

    .open {
        color: #31D158;
    }
}

.button {
    margin: 16px 0;
}