.card {
    border-radius: 12px;
    overflow: hidden;
}

.card-container {
    background-color: var(--tg-theme-card-background-color)
}

.image-container {
    height: 212px;

    img {
        width: 100%;
        height: 100%;
    }
}

.text-container {
    padding: 16px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.name {
    font-size: 17px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--tg-theme-card-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}

.type {
    font-size: 15px;
    line-height: 1.3;
    color: var(--tg-theme-card-subtext-color);
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}

.address {
    font-size: 13px;
    line-height: 1.3;
    color: var(--tg-theme-card-subtext-color);
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}