.slider {
    display: flex;

    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
    width: 100%;

    &--item {
        flex: 0 0 230px;
    }
}

.container {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}