.option {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  color: #fff; /* Белый цвет текста по умолчанию для светлого фона */

  &:hover {
    background-color: #333; /* Немного светлее при наведении */
  }

  input[type='checkbox'] {
    display: none; /* Скрываем checkbox */
  }

  &.option--checked {
    border-color: #007aff;
    background-color: #e6f7ff;
    color: #000; /* Черный цвет текста для светлого фона */
  }

  &.option--active {
    color: black; /* Черный цвет текста для активной кнопки */
    background-color: white; /* Белый фон для активной кнопки */
  }
}
