@import url('./fonts.css');

* {
  box-sizing: border-box;
}

:root {
  --tg-theme-bg-color: #707579;
  --tg-theme-text-color: #131415;


  --tg-theme-button-color: #007AFF;
  --tg-theme-button-primary-color: #007AFF;
  --tg-theme-button-plain-color: transparent;
  --tg-theme-button-secondary-color: #898989;

  --tg-theme-button-text-color: #FFFFFF;


  --tg-theme-card-background-color: #FFFFFF;
  --tg-theme-card-text-color: #000000;
  --tg-theme-card-subtext-color: #707579;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tg-theme-bg-color: #131415;
    --tg-theme-text-color: #fff;
    --tg-theme-button-color: #32a6fb;

    --tg-theme-button-text-color: #000000;
    --tg-theme-card-background-color: #282828;
    --tg-theme-card-text-color: #fff;
    --tg-theme-card-subtext-color: #707579;
  }
}

.App {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: 100vh;
}

.Container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.Button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.Disabled {
  filter: brightness(50%);
  cursor: initial;
}

.Button.Active:hover {
  filter: brightness(105%);
}

.Hint {
  color: var(--tg-theme-hint-color);
}

.Card {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--tg-theme-card-background-color);
}

h1, h2, p {
  margin: 0;
  font-family: 'SF UI Text';
}

a {
  text-decoration: none;
  color: var(--tg-theme-text-color);
}