.report-issue-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: var(--telegram-secondary-bg-color);
  color: var(--telegram-text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .cancel-button {
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  .submit-button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-color);

    &:disabled {
      color: var(--tg-theme-button-color);
      cursor: not-allowed;
    }
  }
}

.report-form {
  p {
    font-size: 14px;
    color: #aaa;
  }

  .options {
    display: flex;
    flex-direction: column;
  }
}
