.slider {
    display: flex;

    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;

    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);

    &--item {
        flex: 0 0 250px;
        border-radius: 12px;
        overflow: hidden;
    }
}