.slider {
    display: flex;

    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
    width: 100%;

    &--item {
        flex: 0 0 250px;
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
    }
}